{% extends 'basefront.html.twig' %}

{% block title %}Nouveau congé{% endblock %}

{% block body %}
<h1>Demander un nouveau congé</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Envoyer</button>
{{ form_end(form) }}
{% endblock %}
