{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1 class="h3 mb-3">Bienvenue sur le tableau de bord</h1>

    <div class="row">
        <div class="col-12 col-lg-6 col-xxl-3 d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <h5 class="card-title mb-4">Congés restants</h5>
                    <h1 class="mt-1 mb-3">12 jours</h1>
                    <div class="mb-0">
                        <span class="text-muted">Mis à jour aujourd'hui</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
