<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    
                        <strong>RH Admin</strong>
                    </a> &copy; {{ "now"|date("Y") }} - Tous droits réservés
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="#" target="_blank">
                            <i class="bi bi-question-circle me-1"></i> Support
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#" target="_blank">
                            <i class="bi bi-life-preserver me-1"></i> Aide
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#" target="_blank">
                            <i class="bi bi-shield-check me-1"></i> Confidentialité
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#" target="_blank">
                            <i class="bi bi-file-earmark-text me-1"></i> CGU
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>