{% extends 'indexback.html.twig' %}

{% block title %}Journal d'activité{% endblock %}

{% block body %}
<div class="container-fluid">
  <h1 class="h3 mb-4 text-gray-800">Journal d'activité</h1>
  
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Activités récentes</h6>
    </div>
    <div class="card-body">
      <p>Cette fonctionnalité sera implémentée prochainement.</p>
    </div>
  </div>
</div>
{% endblock %}
